In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
x = dataset.iloc[:, 2:12]
y = dataset.iloc[:, 1]
x.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
x.isnull().sum()

Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [5]:
x = x.drop(columns = ['Name', 'Ticket', 'Cabin'])
x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [6]:
x.isnull().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [7]:
from sklearn.impute import SimpleImputer
age_imputer = SimpleImputer(strategy = 'mean')
age_imputer.fit(x[['Age']])
x['Age'] = age_imputer.transform(x[['Age']])

embraked_imputer = SimpleImputer(strategy = 'most_frequent')
embraked_imputer.fit(x[['Embarked']])
x['Embarked'] = embraked_imputer.transform(x[['Embarked']])

x.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [8]:
x = pd.get_dummies(x, columns = ['Pclass', 'Sex', 'SibSp'])

 ## Droping Embraked

In [12]:
x = x.drop(columns = ['Embarked'])

In [13]:
#x.isnull().sum()

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(x)

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0, test_size = 0.25)

In [17]:
print(x_test)

[[ 0.         -0.47367361 -0.35730831 ... -0.14359163 -0.07512217
  -0.08898625]
 [ 0.         -0.47367361 -0.49640477 ... -0.14359163 -0.07512217
  -0.08898625]
 [-1.74679586  0.76762988 -0.06199889 ...  6.96419414 -0.07512217
  -0.08898625]
 ...
 [-0.82334365 -0.47367361 -0.49187446 ... -0.14359163 -0.07512217
  -0.08898625]
 [-0.66943495  2.00893337  4.6344169  ... -0.14359163 -0.07512217
  -0.08898625]
 [-1.97765891  0.76762988 -0.31217238 ... -0.14359163 -0.07512217
  -0.08898625]]

In [18]:
from lazypredict.Supervised import LazyClassifier
lazy_classifier = LazyClassifier(verbose = 0, ignore_warnings = True)
model, prediction = lazy_classifier.fit(x_train, x_test, y_train, y_test)
model

C:\Users\rosha\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.utils.testing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.utils. Anything that cannot be imported from sklearn.utils is now part of the private API.
  warnings.warn(message, FutureWarning)
100%|██████████████████████████████████████████████████████████████████████████████████| 29/29 [00:01<00:00, 20.37it/s]

,Accuracy,Balanced Accuracy,ROC AUC,F1 Score,Time Taken
Model,,,,,
LGBMClassifier,0.84,0.83,0.83,0.84,0.09
XGBClassifier,0.84,0.82,0.82,0.84,0.09
RandomForestClassifier,0.83,0.80,0.80,0.82,0.22
AdaBoostClassifier,0.80,0.79,0.79,0.80,0.14
ExtraTreeClassifier,0.81,0.78,0.78,0.80,0.02
SGDClassifier,0.80,0.78,0.78,0.80,0.02
ExtraTreesClassifier,0.80,0.78,0.78,0.80,0.16
SVC,0.80,0.78,0.78,0.80,0.03
LogisticRegression,0.79,0.77,0.77,0.79,0.02
NearestCentroid,0.77,0.77,0.77,0.77,0.02
CalibratedClassifierCV,0.79,0.77,0.77,0.79,0.20
BernoulliNB,0.77,0.77,0.77,0.77,0.02
PassiveAggressiveClassifier,0.76,0.76,0.76,0.77,0.02
LabelPropagation,0.78,0.76,0.76,0.78,0.03
LabelSpreading,0.78,0.76,0.76,0.78,0.04
BaggingClassifier,0.79,0.76,0.76,0.79,0.06
RidgeClassifierCV,0.78,0.76,0.76,0.78,0.02
RidgeClassifier,0.78,0.76,0.76,0.78,0.02
LinearSVC,0.78,0.76,0.76,0.78,0.06
LinearDiscriminantAnalysis,0.78,0.76,0.76,0.78,0.02
NuSVC,0.78,0.76,0.76,0.78,0.03
DecisionTreeClassifier,0.78,0.76,0.76,0.78,0.02
KNeighborsClassifier,0.77,0.75,0.75,0.77,0.03
Perceptron,0.70,0.73,0.73,0.70,0.02
DummyClassifier,0.61,0.59,0.59,0.61,0.02
GaussianNB,0.40,0.52,0.52,0.27,0.02
QuadraticDiscriminantAnalysis,0.40,0.51,0.51,0.30,0.01

In [19]:
print(y_test)

495    0
648    0
278    0
31     1
255    1
      ..
167    0
306    1
379    0
742    1
10     1
Name: Survived, Length: 223, dtype: int64

In [20]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(x_train, y_train)
y_pred = xgb.predict(x_test)
print(y_pred)

[0 0 0 1 1 0 1 1 1 1 0 1 0 1 1 1 0 0 0 1 0 1 0 0 1 1 0 1 1 0 0 1 0 0 0 1 0
 0 0 0 0 1 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 1 1 1 0 1 0
 0 1 0 0 0 0 0 1 1 0 0 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 1 0 1 1 0 0 1 0
 1 1 0 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 1 1 0 0 1
 1 0 0 1 0 1 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0
 0 1 0 0 1 1 0 1 1 0 0 0 1 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1
 1]

In [21]:
from sklearn.metrics import accuracy_score, confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[123  16]
 [ 20  64]]

0.8385650224215246

In [22]:
from sklearn.ensemble import RandomForestClassifier
cls = RandomForestClassifier()
cls.fit(x_train, y_train)
y_pred = cls.predict(x_test)
print(y_pred)

[0 0 0 1 1 0 1 1 1 1 0 1 0 1 1 1 0 0 0 1 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 0 1 0 1 0 1 1 1 0 0 0
 0 1 0 1 0 0 0 1 1 0 0 1 1 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 1 0 0 1 0
 1 1 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0
 1 0 0 0 1 1 1 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0
 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 1 0 1
 0]

In [23]:
from sklearn.metrics import accuracy_score, confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[127  12]
 [ 26  58]]

0.8295964125560538

## Training On Whole dataset

In [24]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(x, y)

RandomForestClassifier()

# Test

In [25]:
original_test = test
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.83,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.00,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.69,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.66,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.29,NaN,S

In [26]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [27]:
test = test.drop(columns = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'])

In [28]:
age_imputer.fit(test[['Age']])
test['Age'] = age_imputer.transform(test[['Age']])

fare_imputer = SimpleImputer(strategy = 'mean')
fare_imputer.fit(test[['Fare']])
test['Fare'] = fare_imputer.transform(test[['Fare']])

test.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [29]:
test = pd.get_dummies(test, columns = ['Pclass', 'Sex', 'SibSp'])

In [30]:
test.isnull().sum()

Age           0
Parch         0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
dtype: int64

In [31]:
test = sc.transform(test)

In [32]:
submit = classifier.predict(test)

In [33]:
submission = pd.DataFrame()
submission['PassengerId'] = original_test['PassengerId']
submission['Survived'] = submit

In [34]:
submission.to_csv('Titanic Prediction Submission1.csv', index = False)
print('file saved')

file saved